
div.doc1{
    width:2480px;
    height:3508px;
}
div.contenido{
padding-top:100px;
}
p{
    text-align:justify;
}

td{
width:250px;
}
.titul_azul{
   color:#8497b0;
}
pre{
  color:#8497b0;
}
pre span{
color:black;
}
 tr.datos td{
border:1px solid #f7f8fa;
}
tr.datos td>input{
border:0 !important;
outline:0 !important;
}
tr.titulo td{
    color:#8497b0;
}
h3{

color:#8497b0;
}
h3,h4{
 text-align:center;
}


table.cuerpo2{

   border-spacing:3em;


}      

