main{
        margin-left: 780px;
        width: 595px;
        height: 842px;
       font-family: sans-serif;
        
}
.cabecera{
        margin-top: 80px;
        margin-left: 120px;
}
.ciclo{
        margin-top: 90px;
        margin-left: 120px;
}
.curso{
        margin-top: 90px;
        margin-left: 120px;
}
.alumno{
        margin-top: 90px;
        margin-left: 120px;
}

