    main{
        margin: 0 auto;
        /*width: 100%;*/
        /*height: 842px;*/
        /*border: 2px lime solid;*/
        padding: 0 70px;
        font-family: sans-serif;
        font-size: 0.9em;
    }
    .todo{
        /*display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'primera segunda';*/
        /*display: flex;*/
        
    }
    .primera{
        /*grid-area: primera;*/
        padding-top:100px;
        float:left;
        width: 595px;
    }
    .segunda{
        /*grid-area: segunda;*/
        float:right;
        width: 595px;
    }
    .alumno{
        margin-top: 20px;
/*        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
                    'foto titulo';*/
    }
/*    .cabecera{
        margin-top: 260px;
        padding-top: 100px;
        text-align: right;*/
    /*}*/
    /*.foto{*/
/*        grid-area: foto;*/
        /*border: 1px solid black;*/
/*        height: 90px;
        width: 90px;*/
/*        font-size: 0.9em;
        margin-left: 70px;
        margin-top: 16px;*/
    /*}*/
/*    .titulo{
        grid-area: titulo;
    }*/
    .conborde{
        border: 1px solid black;
        padding: 14px 20px;
        margin: 6px 0px;
    }
    div.datosprofesionales>h4{
        margin-bottom: -5px;
    }
    div.cursoinscribe>h4{
        margin-bottom: -5px;
    }
    div.tasasacademicas>h4{
        margin-bottom: -5px;
    }
    div.formapago>h4{
        margin-bottom: -5px;
    }
    input{
        margin-bottom: 10px;
            
    }

