	
main{
    margin-top: 40px;
}
.logo{
    text-align: right;
}
.fecha{
    border: 0;
    background-color: #DCECFE;
}
.pie{
    text-align: right;
    margin-top: 60px;
}
p{
    display:block;
    width: 100%;
    height: 25px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.4;
    color:#555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
        
}
p.fecha{
    border:0;
    background-color: #DCECFE;
    width: 100%;
}
hr{
    margin-top:20px;
    margin-bottom: 20px;
    border:0;
    border-top:1px solid #eee;
}
h2{
    font-size:30px;
    margin-botom:10px;
    margin-top: 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color:inherit;
}
h5{
    font-size:14px;
    margin-botom:5px;
    margin-top: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color:inherit;
}